@using AnimalCrossing.Models.ViewModels;

@model AnimalCatVM

    <div>
        @Html.DisplayName("Host Cat")
        @Html.DropDownListFor(x => x.CatDate.HostId, Model.CatSelectList, "Select your cat name", new { @class = "form-control"})
        @Html.ValidationMessageFor(x => x.CatDate.HostId, "", new { @class = "text-danger" })
        @*<span asp-validation-for="CatDate.HostId" class="text-danger"></span>*@
    </div>
    <div>
        @Html.DisplayName("Guest Cat")
        @Html.DropDownListFor(x => x.CatDate.GuestId, Model.CatSelectList, "Select your date cat name", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CatDate.GuestId, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(x => x.CatDate.Location)
        @Html.TextBoxFor(x => x.CatDate.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CatDate.Location, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(x => x.CatDate.DateTime)
        @Html.TextBoxFor(x => x.CatDate.DateTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*@Html.ValidationMessageFor(x => x.CatDate.DateTime, "", new { @class = "text-danger" })*@
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style='margin-top: 20px'>Save Date</button>
    </div>



