@using AnimalCrossing.Models;

@model CatDate

    <!--Html.ValidationSummary()-->
    <div>
        @Html.DisplayName("Host Cat")
        @Html.DropDownListFor(x => x.HostCat.CatId, (SelectList)ViewBag.CatList, "Select your cat name", new { @class = "form-control"})
        @*@Html.ValidationMessageFor(x => x.HostCat.CatId, "", new { @class = "text-danger" })*@
    </div>
    <div>
        @Html.DisplayName("Guest Cat")
        @Html.DropDownListFor(x => x.GuestCat.CatId, (SelectList)ViewBag.CatList, "Select your date cat name", new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.GuestCat.CatId, "", new { @class = "text-danger" })*@
    </div>

    <div>
        @Html.LabelFor(x => x.Location)
        @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.Location, "", new { @class = "text-danger" })*@
    </div>

    <div>
        @Html.LabelFor(x => x.DateTime)
        @Html.TextBoxFor(x => x.DateTime, "{0:MM/dd/yyyy hh:mm}", new { @class = "form-control", type = "datetime-local" })
        @*@Html.ValidationMessageFor(x => x.DateTime, "", new { @class = "text-danger" })*@
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style='margin-top: 20px'>Save Date</button>
    </div>



